.Toolbar{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 0.5rem black;
    background-color: var(--background-color-4);
}

.Toolbar nav {
    height: 100%;
    align-items: center; 
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}